<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Detection</title>
    <style>
    .spinner {
      border: 6px solid #f3f3f3;
      border-top: 6px solid #3498db;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
      margin-top: 10px;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>
</head>
<body style="background-color: grey;">
    <h2 style="text-align: center; background-color: blue; color: white;">
      Image Detection
    </h2>

<div style="display: flex; justify-content: center; margin-top: 50px;">
    <form method="POST" enctype="multipart/form-data" action="{% url 'homepage' %}" style="background-color: skyblue; padding: 10px;display: flex; flex-direction: column; align-items: flex-start;">
        {% csrf_token %}
        <p>Image:</p>
        {{ form.image }}
        <br>
        <p>Prompt:</p>{{ form.message }}
        <button onclick="return spinner()" type="submit" style="margin-top: 10px; height: 50px; width: 100px; cursor: pointer; background-color: yellow;">
            Send
        </button>
    </form>
    <br />
</div>
    <div style="">
        <div id="spindiv"></div>
    </div>



</body>
</html>

<script>
    function spinner(){
        el = document.getElementById("spindiv");
        el.innerHTML = "";
        const spinner = document.createElement("div");
        spinner.classList.add("spinner");
        el.appendChild(spinner);
        return true;
    }
</script>